.hide.loading
  loading ...
.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .row-fluid
        .span2.logo-container.hidden-phone
          =link_to root_path, :class => "brand" do
            ArtNearMe
        .span10
          = render 'shared/search_form'
#map-container(art-map=true)
.sticky-carousel
  = button_tag :class => 'btn btn-affixed btn-large btn-square btn-left' do
    %i.icon-chevron-left
  %ul.unstyled#museum-carousel.museum-list.clearfix
    %li{:class => "museum-{{museum.id}} museum-card", 'ng-repeat' => 'museum in museums' }
      %a{ 'ng-href' => '{{museum.museum_url}}', 'intercept-click' => true, 'ng-click' => 'showMuseum(museum)' }
        %h5 {{museum.name}}
        = image_tag nil, :width => 120, :height => 120, 'ng-src' => '{{museum.avatar_url}}'
        .museum-options
          %h5 {{museum.name}}
  = button_tag :class => 'btn btn-affixed btn-large btn-square btn-right' do
    %i.icon-chevron-right
