.hide.loading
  loading ...
.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .row-fluid
        .span2.logo-container.hidden-phone
          =link_to root_path, :class => "brand" do
            ArtNearMe
        .span10
          = render 'shared/search_form'
#map-container(art-map=true)
.sticky-carousel
  %ul.unstyled#museum-carousel.museum-list.clearfix
    %li{:class => "museum-{{museum.id}} museum-card", 'ng-repeat' => 'museum in museums' }
      %a{ 'ng-href' => '{{museum.museum_url}}', 'intercept-click' => true, 'ng-click' => 'showMuseum(museum)' }
        = image_tag nil, :width => 60, :height => 60, 'ng-src' => '{{museum.avatar_url}}'
        .card-body
          %h5 {{museum.name}}
          .museum-options
            %h5 {{museum.name}}
