%h4
  = painting.name
- if painting.artist
  .inline
    %i.icon-user
    = painting.artist.name
- if painting.museum
  .inline
    %i.icon-map-marker
    = painting.museum.name
= image_tag(painting.image.url(:thumb))
