%footer.footer
  %aside
    %p
      &copy #{Time.now.year}, #{link_to 'Paul Zaich', 'http://paulzaich.com'}
      %span.hidden-phone
        \. All media courtesy of #{link_to 'The Athenaeum', 'http://www.the-athenaeum.org/'}. Map data © #{link_to 'OpenStreetMap', 'http://www.openstreetmap.org/copyright'} contributors
      

