.span8
  = form_tag root_path, :class => 'form-inline', :method => 'get' do
    = search_field_tag :query, params[:query], :placeholder => "artist", :class => "input-xlarge"
    near
    = search_field_tag :location, params[:location], :placeholder => "address, city, or state"
    
    = submit_tag "Find", :class => "btn"