.span8
  = form_tag root_path, :class => 'form-inline', :method => 'get' do
    = search_field_tag :query, params[:query], :placeholder => "Search by location, artist or museum", :class => "input-xxlarge"
    = submit_tag "Find", :class => "btn"