#map-container
.sticky-carousel
  = button_tag :class => 'btn btn-affixed btn-large btn-square btn-left' do
    %i.icon-chevron-left
  %ul.unstyled#museum-carousel.museum-list.clearfix
  = button_tag :class => 'btn btn-affixed btn-large btn-square btn-right' do
    %i.icon-chevron-right