%h4
  = museum.name
- paintings.each do |painting|
  - if painting.artist
    = link_to root_path(:query => painting.artist.name) do
      .inline
        %i.icon-user
        = painting.artist.name
  = image_tag(painting.image.url(:thumb))