// Place all the styles related to the museums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  .museum-cover {
    overflow: hidden;
    position: relative;
    height: 200px;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    width: 100%;
    margin-top: -20px;
    margin-left: -20px;
    padding: 20px;
  }

  .close {
    color: white;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 20px;
    font-size:40px;
    opacity: 0.4;
    &:hover {
      color: white;
      opacity: 0.8;
    }
  }
  .museum-thumbnail {
    position: absolute;
    margin-top: -100px;
    left: 50%;
    margin-left: -50px;
  }
  .dialogue {
    box-sizing: border-box;
    -moz-border-box: border-box;
    z-index: 100;
    width: 100%;
    height: 100%;
    color: white;
    .dialogue-header {
      box-sizing: border-box;
      -moz-border-box: border-box;
      padding: 0 20px;
      padding-top: 5px;
      border-bottom: 1px solid #ccc;
      position: absolute;
      width: 100%;
      z-index: 100;
      top: 134px;
      text-align: center;
      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .dialogue-body {
      box-sizing: border-box;
      -moz-border-box: border-box;
      padding: 5px 20px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .masonry-container {
      margin: 0 auto;
      .masonry-brick {
        width: 320px;
        display: none !important;
        margin-top: 5px;
        &.loaded {
          display: block !important;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  body {
    .museum-cover {
      height: 200px;
    }
    .dialogue {
      .dialogue-header {
        top: 134px;
        h3 {
          text-align: center;
          padding: 0;
          font-size: 18px;
        }
      }
    }

  }
}