// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer{
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  box-shadow: 0 -1px 10px rgba(0,0,0,.1);
  p {
    margin: 2px 0;
  }
}

body {
  .navbar {
    .brand {
      font-size: 32px;
      &:hover {
        color: #4da6ff;
      }
    }
    form {
      margin: 5px 0;
      width: 100%;
      .btn {margin-top: 0}
      .query-wrapper {
        position: relative;
        width: calc(100% - 70px);
        width: webkit-calc(100% -70px);
        *width: 90%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px;
        box-sizing: border-box;
        background: #fff;
        display: inline-block;
        line-height: 32px;
        input[type="search"], input[type="text"] {
          border: 0;
          box-shadow: none;
          font-size: 20px;
          line-height: 26px;
          width: calc(50% - 40px);
          *width: 42%;
        }
      }
      .current-location {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 32px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    #query-submit {
      margin-top: -2px;
    }
    
  }


}

.painting-info{
  position:relative;
  opacity: 1.0;
  border: 5px solid rgba(77,166,255, 1);
  border-radius: 3px;
  margin-top: 8px; 
  background: white; 
  padding: 5px;
  box-shadow: 0 0 2px #ccc;
  &:before {
    right: 13px;
    left: auto;
    position: absolute;
    top: -16px;
    display: inline-block;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #ccc;
    border-left: 11px solid transparent;
    border-bottom-color: rgba(77,166,255, 1);
    content: '';
  }
  &:after {
    right: 15px;
    left: auto;
    position: absolute;
    top: -9px;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ffffff;
    border-left: 9px solid transparent;
    content: '';
  }
}

.brand {
  i {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .logo-container {
    text-align: center;
    .brand {
      display: inline-block;
      text-align: center;
      width: 100%;
      float:none;
    }
  }

  .navbar {
    .btn-large {

      padding: 15px 19px;
    }
  }
}
